<section class="contact__section">
  <div class="container">
    <h2>Get info about design resources</h2>
    <p class="para">Only updates and rare releases with discounts.</p>
    <div class="grouped">
      <div class="input__group">
        <i class="fa-regular fa-envelope"></i>
        <input class="input" type="email" placeholder="Email" />
      </div>
      <button class="btn btn__primary block">Join the club</button>
    </div>
  </div>
  <img src="./images/subscription.png" alt="" />
</section>
