<div class="designBlock">
  <div class="design__element">
    <img src="./images/design.png" alt="" />
    <div class="element__info">
      <h4>Design</h4>
      <p class="para">
        Create with all required components and styles. There is everything you
        need.
      </p>
    </div>
  </div>
  <div class="design__element">
    <img src="./images/prototype.png" alt="" />
    <div class="element__info">
      <h4>Prototype</h4>
      <p class="para">
        Present your work properly. Hover and click, all components are
        interactive.
      </p>
    </div>
  </div>
  <div class="design__element">
    <img src="./images/customize.png" alt="" />
    <div class="element__info">
      <h4>Customize</h4>
      <p class="para">
        Adapt to your style in a few clicks. Smart styles and atomic build
        allow.
      </p>
    </div>
  </div>
</div>
