<section class="faq__section container">
  <div class="section__heading">
    <i class="fa-solid fa-circle-question"></i
    ><span class="span">Questions?</span>
  </div>
  <h2>There are answers</h2>
  <div class="testimonials__para">
    <p class="para">Connect library, drag from the left, edit on the right.</p>
  </div>
  <div class="faq__card">
    <h4>Is license lifetime?</h4>
    <p class="para">
      Yes, no matter which update access period you choose. You can use Module
      in an unlimited number of projects forever.
    </p>
  </div>
  <div class="faq__card">
    <h4>Can i get a discount?</h4>
    <p class="para">
      If you're a student or a teacher,
      <a href="" class="link faq__link">email us</a> a proof of your occupation.
      We'll send you a unique discount code.
    </p>
  </div>
  <div class="faq__card">
    <h4>How to connect Design system?</h4>
    <p class="para">
      Check out our complete
      <a href="" class="link faq__link">tutorial</a> for each step using the
      Design system.
    </p>
    <p class="spaced">
      Also, we provide advices in specific cases for our customers. Just get in
      touch.
    </p>
  </div>
  <div class="faq__card">
    <h4>How can i get updates?</h4>
    <p class="para">
      You will receive updated files by email on the day of an update.
    </p>
  </div>
  <div class="faq__card">
    <h4>Can i get a discount?</h4>
    <p class="para">
      You don't need to buy again for the full price.
      <a href="" class="link faq__link">Contact us</a> and you will receive a
      discount code.
    </p>
  </div>
  <div class="faq__card answer__card">
    <div class="faq__card__header">
      <h4>Didn't find the answer?</h4>
      <p class="para">Don't shy, ask your own</p>
    </div>
    <button class="btn btn__secondary">
      <i class="fa-regular fa-envelope block"></i> Ask a question
    </button>
  </div>
</section>
