<div class="get__started">
  <div class="section__heading">
    <i class="fa-solid fa-circle-plus"></i><span class="span">It's simple</span>
  </div>
  <div class="section__header">
    <h2>Easy to get started</h2>
    <p class="para">
      Connect ready library, drag from the left, edit on the right. No more
      boring rebuilding components.
    </p>
  </div>
  <div class="video__flex">
    <div class="video__container">
      <div class="video__pointer pointer1 hidden">
        <img src="./images/categories.png" alt="" />
        <h5>Just 3 categories</h5>
        <p class="para">No dozens of pages for everything.</p>
      </div>
      <video
        src="./images/figma.mp4"
        class="figma__video"
        autoplay
        loop
      ></video>
      <div class="video__pointer pointer3 hidden">
        <h5>Plenty variants</h5>
        <p class="para">Get the right variant by a variety of parameters.</p>
        <img src="./images/variants.png" alt="" />
      </div>
    </div>
    <div class="video__pointer pointer2 hidden layout">
      <img src="./images/layout.png" alt="" />
      <h5>Auto layout</h5>
      <p class="para">input any text, resize like you need to.</p>
    </div>
    <span class="span mobile__note"
      ><i class="fa-solid fa-laptop"></i>Better to watch on a big screen</span
    >
    <div class="video__pointers">
      <div class="video__pointer pointer1">
        <img src="./images/layout.png" alt="" />
        <h5>Just 3 categories</h5>
        <p class="para">No dozens of pages for everything.</p>
      </div>
      <div class="video__pointer pointer2">
        <img src="./images/layout.png" alt="" />
        <h5>Auto layout</h5>
        <p class="para">input any text, resize like you need to.</p>
      </div>
      <div class="video__pointer pointer3">
        <img src="./images/layout.png" alt="" />
        <h5>Plenty variants</h5>
        <p class="para">Get the right variant by a variety of parameters.</p>
      </div>
    </div>
  </div>
</div>
