<ul class="list">
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
</ul>

<ul class="list inline__list">
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
  <li class="list__item">list item</li>
</ul>

<ul class="card__list">
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Figma Design system file
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>1900+ compnents and
    variants
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Predefined style system
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Free licensed icons
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Step-by-step tutorial
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Use on unlimited projects
  </li>
  <li class="card__list__item">
    <i class="fa-solid fa-circle-check list__icon"></i>Friendly support
  </li>
</ul>
