<section class="module__section">
  <div class="container">
    <div class="section__heading">
      <i class="fa-solid fa-eye"></i><span class="span">So wonderful</span>
    </div>
    <h2>All designs turn out great</h2>
    <div class="testimonials__para">
      <p class="para">Made with Module, explore how it looks inside.</p>
    </div>
  </div>
  <img class="module__image" src="./images/module.png" alt="" />
  <div class="container">
    <button class="btn figma__preview block">
      <img src="./images/download.png" />Preview<i class="fal fa-arrow-up"></i>
    </button>
  </div>
</section>
<section class="module__section2">
  <div class="container">
    <div class="section__heading">
      <i class="fa-solid fa-heart"></i><span class="span">Made with love</span>
    </div>
    <h2>Why Module?</h2>
    <div class="testimonials__para">
      <p class="para">There are a lot of important features.</p>
    </div>
    <div class="module__features">
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/atomic.png" alt="" />
        </div>
        <h3>Atomic design</h3>
        <p class="para">Made up of well-structured building blocks</p>
      </div>
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/flexible.png" alt="" />
        </div>
        <h3>Flexible layout</h3>
        <p class="para">Complete auto layout with a correct response</p>
      </div>
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/baselinegrid.png" alt="" />
        </div>
        <h3>Baseline grid - 4px</h3>
        <p class="para">Design pixel-perfect interfaces of any complexity</p>
      </div>
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/spacingsystem.png" alt="" />
        </div>
        <h3>Spacing system</h3>
        <p class="para">
          colored spacing blocks that you can hide in one click
        </p>
      </div>
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/detailedtutorial.png" alt="" />
        </div>
        <h3>Detailed tutorial</h3>
        <p class="para">
          No need to be a guru, learn how to easily connect and use
        </p>
      </div>
      <div class="module__feature">
        <div class="image__container">
          <img src="./images/star.png" alt="" />
        </div>
        <h3>Free icons and font</h3>
        <p class="para">You do not have to purchase additional licenses</p>
      </div>
    </div>
  </div>
</section>
