<main class="showcase">
  <div class="section__heading">
    <i class="fa-solid fa-star"></i
    ><span class="span">Trusted by over 1,000 customers</span>
  </div>
  <h1>Design system that works</h1>
  <div class="showcase__para">
    <p class="para">Build, prototype and customize any design.</p>
    <p class="para">Neat and simple, just in minutes.</p>
  </div>
  <div class="showcase__buttons">
    <button class="btn figma__preview block">
      <img src="./images/download.png" />Preview<i class="fal fa-arrow-up"></i>
    </button>
    <button class="btn btn__primary block">Get Module</button>
  </div>
  <img class="showcase__image" src="./images/showcase.webp" />
</main>
