<div class="square__videos">
  <div class="square square1">
    <div class="square__info">
      <div class="section__heading">
        <i class="fa-solid fa-paper-plane"></i
        ><span class="span">Ready to interact</span>
      </div>
      <h2>Create interactive prototypes</h2>
      <div class="square__para">
        <p class="para">
          Want to surprise your customer? Turn on the live prototype, hover and
          click on the components- they respond like on the developed project.
        </p>
      </div>
    </div>
    <video src="./images/square1.mp4" autoplay loop></video>
  </div>
  <div class="square square2">
    <div class="square__info">
      <div class="section__heading">
        <i class="fa-solid fa-gear"></i
        ><span class="span">Make your style</span>
      </div>
      <h2>Customize in a few clicks</h2>
      <div class="square__para">
        <p class="para">
          Change styles of colors and texts, they are applied globally. Edit
          parent component- see changes on all its variants, quick and easy as
          should be.
        </p>
      </div>
    </div>
    <video src="./images/square2.mp4" autoplay loop></video>
  </div>
</div>
